@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px; /* Adjusted margin */
}

.login-container,
.signup-container {
  padding: 30px; /* Adjusted padding */
  transition: transform 0.3s ease-in-out;
}

h2 {
  text-align: center;
  color: #333;
}

form {
  margin-top: 20px;
}

input {
  width: calc(100% - 20px); /* Adjusted width */
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: calc(100% - 20px); /* Adjusted width */
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin-top: 15px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hide {
  transform: translateX(-100%);
}

.show {
  transform: translateX(0);
}
.footer-bottom {
  background-color: #333;
  padding: 1.5rem; /* Adjusted for desktop */
  text-align: center;
  color: #fff;
}
------------------------------------------
